DB_HOST=your_database_host
DB_PORT=5432
DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password
DB_NAME=your_database_name

JWT_SECRET=your_jwt_secret_key

OPENAI_API_KEY=your-openai-api-key-here
OPENAI_API_URL=https://api.openai.com/v1/completions
OLLAMA_API_URL=http://127.0.0.1:11434/api/chat
OLLAMA_MODEL_NAME=llama3.2:latest